@section Javascript 
{   <!--Includes the java script. Still need to list the source below-->
    <script type="text/javascript" src="@Url.Content("/Scripts/LocalJS.js")"></script>    
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Search Giphy's Gifs</h1>

        <form><!--action="/Search/"-->
            <fieldset>
                <div style="display:inline">
                    Top Result Only: <input type="checkbox" id="topResult" name="topResult" value="&limit=1"><br />
                </div>
                <hr id="thinHR" />
                <div style="display:inline">
                    Rating:
                    <select id="rating">
                        <option value="Y">Y</option>
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                    </select>
                </div>
        
            </fieldset>
            <input type="text" id="searchTerms" name="searchTerms" size="12" />
            <button type="button" onclick="getSearchResults();">Search</button>
        </form>
    </div>
    <div id="output" class="row col-lg-12"></div>
</div>