
@{
    ViewBag.Title = "Create a New Customer";
}

<h2>Create a New Customer</h2>

<div>
    <form method="post">
        <p>
            <label for="ODL">ODL / PERMIT / ID / CUSTOMER #:</label><!--Input ODL-->
            <input type="text" name="ODL" />
        </p>
        <p>
            <label for="FullName">Full Name(First Last):</label><!--Input Full Name-->
            <input type="text" name="FullName" />
        </p>
        <p>
            <label for="DOB">Date of Birth(MM/DD/YYYY):</label><!--Input DOB-->
            <input type="date" name="DOB" />
        </p>
        <p>
            <label for="StreetAdd">Street Address:</label><!--Input Street-->
            <input type="text" name="StreetAdd" />
        </p>
        <p>
            <label for="CityAdd">City:</label><!--Input City-->
            <input type="text" name="CityAdd" />
        </p>
        <p>
            <label for="StateAdd">State:</label><!--Input State-->
            <input type="text" name="State" />
        </p>
        <p>
            <label for="ZipAdd">Zip:</label><!--Input Zip-->
            <input type="text" name="ZipAdd" />
        </p>
        <p>
            <label for="CountyAdd">County:</label><!--Input County-->
            <input type="text" name="CountyAdd" />
        </p>
        <p>
            <label for="DateSigned">Date:</label><!--Input Sign Date-->
            <input type="text" name="FullName" />
        </p>
        <p>
            <input type="submit" name="submit" value="Submit" />
        </p>
    </form>
</div>