
@{
    ViewBag.Title = "Create a New Customer";
}

<h2>Create a New Customer</h2>

<div>
    <form name="myForm" id="myForm" method="post">
        <p>
            <label for="ODL">ODL / PERMIT / ID / CUSTOMER #:</label>
            <input type="number" name="ODL" maxlength="8" min="1" />
        </p>
        <p>
            <label for="FullName">Full Name(First Last):</label>
            <input type="text" name="FullName" maxlength="64" />
        </p>
        <p>
            <label for="DOB">Date of Birth(YYYY-MM-DD):</label>
            <input type="text" name="DOB" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Date of Birth" />
        </p>
        <p>
            <label for="StreetAdd">Street Address:</label>
            <input type="text" name="StreetAdd" maxlength="64" />
        </p>
        <p>
            <label for="CityAdd">City:</label>
            <input type="text" name="CityAdd" maxlength="24" />
        </p>
        <p>
            <label for="StateAdd">State:</label>
            <input type="text" name="StateAdd" maxlength="3" />
        </p>
        <p>
            <label for="ZipAdd">Zip:</label>
            <input type="number" name="ZipAdd" maxlength="5" min="0" max="99999" />
        </p>
        <p>
            <label for="CountyAdd">County:</label>
            <input type="number" name="CountyAdd" min="1" max="90" />
        </p>
        <p>
            <label for="DateSigned">Date(YYYY-MM-DD):</label>
            <input type="text" name="DateSigned" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Date Signed" />
        </p>
        <p>
            <input type="submit" name="submit" value="Submit" />
        </p>
    </form>
</div>
