
@{
    ViewBag.Title = "Page1";
}

<h2>Page1</h2>


<form method="put">
    <label for="degree">Degrees:</label>
    <input type="text" name="degree" value="" />
    <label for="degreeType">Degree Type</label>
    <select name="degreeType" type="text">
        <option value="F">F</option>
        <option value="C">C</option>
    </select>
    <input type="submit" name="submit" value="Submit" />
</form>

@if (ViewBag.newDegreeString != null)
 {
    <br /><h2>@ViewBag.newDegreeString</h2>
 }