
@{
    ViewBag.Title = "Page1";
}

<h2>Page 1</h2>


<form method="put">
    <p>
        <label for="degree">Degrees:</label>
        <input type="text" name="degree" value="" />
    </p>
    <p><!-- select box allows me to control input -->
        <label for="degreeType">Degree Type</label>
        <select name="degreeType" type="text">
            <option value="F">F</option>
            <option value="C">C</option>
        </select>
    </p>
    <input type="submit" name="submit" value="Submit" />
</form>

<!-- output can only be displayed after newDegreeString is set via POST method -->
@if (ViewBag.newDegreeString != null)
 {
    <br />
    <h2>@ViewBag.newDegreeString</h2>

    <br />
    <p>This was added using HTTP GET in conjuction with REQUEST object.</p>
}